*{
    font-family: 'Bitter', serif;
    margin:0;
    color: #666;
    background: #E1E1E1;
}
body {
    font-size: 1em;
    background-color: #fff;
    margin-top: 10px;
}

h1 { color: #7c795d; font-family: 'Trocchi', serif; font-size: 42px; font-weight: normal; line-height: 48px; margin: 0; }

#main {
    float: left;
    width: 50%;
}

#sidebar {
}

#sequence {
    height: 70px;
}

#legend {
    top:0;
    padding: 10px 0 0 3px;
}

#sequence text, #legend text {
    font-size: 1em;
    font-weight: normal;
    font-family: 'Bree Serif', serif;
    fill: #fff;
}

#chart {
    position: relative;
}

#chart path {
    stroke: #fff;
}

/*#explanation {
    position: absolute;
    top: 250px;
    left: 235px;
    width: 140px;
    text-align: center;
    color: #666;
    z-index: 1000;
    }*/

    #percentage {
        font-family: 'Bree Serif', serif;
    }

    .grafico{
        position: relative;
        display: inline-block;
    }
    .texto{
        font-family: arial;
        width: 40%;
        display: inline-block;
        position: absolute;
        top:3em;
        left: 55%;
        line-height: 1.5;
    }
    #contenido_articulo{
        font-weight: normal;
        text-align: justify;
    }

    #nivel1,#nivel2,#nivel3,#nivel4,#contenido_articulo{
        margin-top: 1em;
    }
    #nivel1,#nivel2{
        font-weight: bold;
    }

.d3-tip {
    line-height: 1;
    font-weight: normal;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

