#palabras{
	max-width: 70%;
	height: 600px;
	max-height: auto;
	margin-left: 10%;
}

.accordion, .accordion * {
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	box-sizing:border-box;
}

.accordion {
	overflow:hidden;
	box-shadow:0px 1px 3px rgba(0,0,0,0.25);
	border-radius:3px;
	background:#f7f7f7;
	margin:0;
	padding: 0;
}
.accordion .titulo{
	width:100%;
	padding:.7em;
	display:inline-block;
	border-bottom:1px solid #1a1a1a;
	background:#333;
	transition:all linear 0.15s;
	/* Type */
	font-size:1em;
	text-shadow:0px 1px 0px #1a1a1a;
	color:#fff;
	cursor: pointer;
}
.accordion .titulo:hover{
	background:#4c4c4c;
	/* Type */
	text-decoration:none;

}
.accordion article{
	margin: 0;
	padding: 0;
}
.accordion .block{
	padding:15px;
	color: #333;
}
.block > div:nth-last-child(n) > p{
	font-weight: bold;
	margin-bottom: 1em;
}

.block > div:nth-child(6){
	line-height: 1.5em;
	text-align: justify;
	margin-bottom: 2em;
}
.block{
	margin: 2em;
}
h2{
	text-transform: uppercase;
	padding: 1em;
	margin-bottom: 1em;
	border-bottom: 5px solid #333;
}
h2 > small{
	background: #333;
	color: white;
	font-size: .7em;
	border-radius: 4em;
	margin-left: .5em;
}
h2 > small:before,h2 > small:after{
	padding: .2em!important;
	content: "";
}
body > section{
	width: 80%;
	margin-left: 10%;
}
