*{
	font-family : "Advent Pro", Helvetica, sans-serif;
	margin :0;
	padding: 0;
}
#palabras{
	max-width: 80%;
	height: 600px;
	max-height: auto;
	margin-left: 7%;
}

.accordion, .accordion * {
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	box-sizing:border-box;
}

.accordion {
	overflow:hidden;
	box-shadow:0px 1px 3px rgba(0,0,0,0.25);
	border-radius:3px;
	background:#f7f7f7;
	margin:0;
	padding: 0;
}
.accordion .titulo{
	width:100%;
	padding:0.7em;
	display:inline-block;
	border-bottom:1px solid #94cccc;
	background:#196363;
	transition:all linear 0.15s;
	/* Type */
	font-size:1em;
	/*text-shadow:0px 1px 0px #1a1a1a;*/
	color:#fff;
	margin:0;
	cursor: pointer;
}
.accordion .titulo:hover{
	background:#4d9999;
	/* Type */
	text-decoration:none;

}
.accordion article{
	background:white;
	margin: 0;
	padding: 0;
}
.accordion .block{
	padding:15px;
	color: #000;
}
.block > div:nth-last-child(n) > p{
	font-weight: bold;
	margin-bottom: 1em;
}

.block > div:nth-child(6){
	line-height: 1.5em;
	text-align: justify;
	margin-bottom: 2em;
}
.block{
	color:#000;
	margin: 2em;
	overflow: hidden;
	display: none;
}
h2{
	color:#196363;
	text-transform: uppercase;
	padding: 1em;
	margin-bottom: 1em;
	border-bottom: .2em solid #4d9999;
}
h2 > small{
	background: #333;
	color: white;
	font-size: .7em;
	border-radius: 4em;
	margin-left: .5em;
}
h2 > small:before,h2 > small:after{
	padding: .2em!important;
	content: "";
}
body > section, #buscar_palabra{
	width: 80%;
	margin-left: 10%;
}
.si:before{
	content:"[Cerrar]";
	color:#FF5C5C;
}
#oruro .block{
	background: white url("../img/oruro.png") no-repeat;
	background-size: 70% 70%;
	background-position: center;
}
#lapaz .block{
	background: white url("../img/lapaz.png") no-repeat;
	background-size: 70% 70%;
	background-position: center;
	margin:0;
}
#cochabamba .block{
	background: white url("../img/cochabamba.png") no-repeat;
	background-size: 70% 70%;
	background-position: center;
}
#potosi .block{
	background: white url("../img/potosi.png") no-repeat;
	background-size: 70% 70%;
	background-position: center;
}
input[type=submit]{
	content: ;
	cursor: pointer;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
	margin: 0 auto;
	outline: none;
	border: 2px solid #4d9999;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	font: normal normal normal 1em/2em "Advent Pro", Helvetica, sans-serif;
	color: #4d9999;
	text-decoration: none;
	text-align: center;
	text-indent: 0;
	word-spacing: 0;
	word-wrap: ;
	background: rgba(0,0,0,0);
}
input[type=submit]:hover{
	outline: none;
	background: #4d9999;
	color: rgba(255,255,255,1);
}

/**/
input[type=checkbox] {
	display:none;
}
input[type=checkbox] + label:before {
	content: "";  
	display: inline-block;  
	width: 1em;  
	height: 1em;  
	vertical-align:middle;
	margin-right: 8px;  
	background-color: white;
	box-shadow: inset 0px 0px 4px #4d9999;
	border-radius: 4px;  
}
input[type=checkbox]:checked + label:before {
	content:"\2714"; /* Tick */
	color:white;
	background-color: #4d9999; 
	text-align:center;
	line-height:15px;
	text-shadow:0px 0px 3px #eee;
}
#actualizar_nube > label{
	color:#4d9999;
	padding:1em!important;
}
#actualizar_nube{
	margin-bottom: 2em;
}
input[type=text]{
	border-radius: 4px; 
	font: normal normal normal 1em "Advent Pro", Helvetica, sans-serif;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	padding: .5em;
	border: 2px solid #4D9999;
}
input[type=text]:active,input[type=text]:hover,input[type=text]:focus{
	outline-color: #A0DDFF;

}
section > h2 > small{
	background:#4d9999;
}

/*PANTALLA INICIAL*/

.menu{
	padding:.5em;
	padding-left:10%;
	width:85%;
	margin-bottom: 4em;
}
.menu .item{
	display:inline-block;
	position:relative;
	height:250px;
	width:23%;
	box-shadow:2px 2px 10px rgba(0,0,0,0.5);
	border-radius: 8px;
}
.menu .item a{
	border-radius:8px;
	border: 2px solid #4d9999;
	background:#fff;
	color:#4d9999;
	display:block;
	font-size:1.8em;
	height:250px;
	position:absolute;
	text-align:center;
	text-decoration:none;
	width:100%;
}
.menu .item a:hover{
	border:2px solid #22bce0;
	color:#22bce0;
	background:#4d9999;
}
.titulo{
	text-align: center;
	color:#196363;
	margin-top: 1em;
	z-index: 1000;
}


/*Menu de navegacion*/
/*Strip the ul of padding and list styling*/
header{
	width: 100%;
	background: #196363;
	height: 50px;
	margin-bottom: 2em;
}
ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
	float: right;
}

/*Create a horizontal list with spacing*/
li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}

/*Style for menu links*/
li a, li h1 {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family : "Advent Pro", Helvetica, sans-serif;
	color: #fff;
	background: #196363;
	text-decoration: none;
}

/*Hover state for top level links*/
li:hover a {
	background: #4d9999;
}

/*Style for dropdown links*/
li:hover ul a {
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
	background: #80cccc;
	color: #fff;
}

/*Hide dropdown links until they are needed*/
li ul {
	display: none;
}

/*Make dropdown links vertical*/
li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
	display: block;
	visibility: "true";
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family : "Advent Pro", Helvetica, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #19c589;
	text-align: center;
	padding: 10px 0;
	display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
	display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
	display: block;
}


/*Responsive Styles*/

@media screen and (max-width : 760px){
	/*Make dropdown links appear inline*/
	ul {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	ul li, li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
	}
}